<aside id="sidebar">
<span class="title">
	Your Company
	<a href="javascript:undefined;" class="pin-sidebar d-none d-sm-block"><i class="fa fa-circle-o"></i></a>
	<a href="javascript: void(0);" target="_self" class="d-sm-none toggle-sidebar"><i class="fa fa-bars"></i></a>
</span>
	<ul class="main" pg-sidebar>
		<li ui-sref-active="active">
			<a ui-sref="management.dashboard">Dashboard</a>
			<span class="icon-thumbnail"><i class="fa fa-home"></i></span>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="management.calendar">Calendar</a>
			<span class="icon-thumbnail"><i class="fa fa-calendar"></i></span>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="management.order">Orders</a>
			<span class="icon-thumbnail"><i class="fa fa-list-alt"></i></span>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="management.customer">Customers</a>
			<span class="icon-thumbnail"><i class="fa fa-user"></i></span>
		</li>
		<li class="dropdown" ui-sref-active="in">
			<a href="javascript: void(0);" target="_self">Management</a>
			<span class="icon-thumbnail"><i fa [name]="'bar-chart'"></i></span>
			<ul class="menu">
				<li ui-sref-active="active">
					<a ui-sref="management.event_type">Event Type</a>
					<span class="icon-thumbnail"><i class="fa fa-star"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.package">Packages</a>
					<span class="icon-thumbnail"><i class="fa fa-calendar-check-o"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.schedule">Schedules</a>
					<span class="icon-thumbnail"><i class="fa fa-clock-o"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.addon">Add-Ons</a>
					<span class="icon-thumbnail"><i class="fa fa-star-o"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.addon.category">Add-On Categories</a>
					<span class="icon-thumbnail"><i class="fa fa-link"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.policy">Policies</a>
					<span class="icon-thumbnail"><i class="fa fa-align-left"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.question">Questions</a>
					<span class="icon-thumbnail"><i class="fa fa-question"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.tax_bracket">Tax Brackets</a>
					<span class="icon-thumbnail"><i class="fa fa-tags"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.email">E-Mail Templates</a>
					<span class="icon-thumbnail"><i class="fa fa-envelope-o"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.template">Booking Templates</a>
					<span class="icon-thumbnail"><i class="fa fa-pencil"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.coupon">Promo Coupons</a>
					<span class="icon-thumbnail"><i class="fa fa-ticket"></i></span>
				</li>
			</ul>
		</li>
		<li class="dropdown" ui-sref-active="in">
			<a href="javascript: void(0);" target="_self">Settings</a>
			<span class="icon-thumbnail"><i class="fa fa-address-card-o"></i></span>
			<ul class="menu">
				<li ui-sref-active="active">
					<a ui-sref="management.settings.profile">Profile</a>
					<span class="icon-thumbnail"><i class="fa fa-gear"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.settings.invoice">Invoice</a>
					<span class="icon-thumbnail"><i class="fa fa-gear"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.user">Users</a>
					<span class="icon-thumbnail"><i class="fa fa-users"></i></span>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="management.location">Locations</a>
					<span class="icon-thumbnail"><i class="fa fa-location-arrow"></i></span>
				</li>
			</ul>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="management.logging">Logs</a>
			<span class="icon-thumbnail"><i class="fa fa-book"></i></span>
		</li>
	</ul>
</aside>
